.algorithm-panel{
    display: flex;
    align-items: end;
    border-radius: 50px;
    background: #888888;
    box-shadow: inset 20px 20px 12px #747474,
                inset -20px -20px 12px #9c9c9c;
    width: 80vw;
    height: 40vh;
    padding: 20px;
}

.accessed{
    background-color: red !important;
}

.compared{
    background-color: orange !important;
}

.bar{
    background-color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
