.card{
    color: #1D1D1F;
    background-color: #F5F5F7;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    max-width: 40rem;
    padding: 1rem;
}

.raised{
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.outlined{
    border: 1px solid #ccc;
}